.navBar{ 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:  #ECC94B;
    margin: 0%; 
    padding: 1%;
    width: 100%;
    box-sizing: border-box;
    opacity: 100%;
}

.navBar a:link{ 
    color:black ;
    text-decoration: none;
} 
 
.navBar a:hover{  
    color: #FF9F1C; 
    text-decoration: underline;
}

.navBar a:visited{ 
    color:black;
} 

.navBar.pageLinks{ 
    box-sizing: border-box;
    width: 50%;
}



@media screen and (max-width: 500px){
    .navBar{ 
        display: flex; 
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color:  #ECC94B;
        height: 110%;
        margin: 0%; 
        padding: 0%;
        width: 100vw;
        box-sizing: border-box;
        overflow: hidden;
    
    }
  }

.pageLinks{ 
    flex: 2;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}

@media screen and (max-width: 500px){
    .pageLinks{ 
        display: flex; 
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color:  #CB997E;
        height: 100%;
        margin: 0%; 
        padding-bottom: 1%;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    
    }
  }


.socialLinks{ 
    flex: 2;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}






.projCard{ 
    color: #CB997E;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.projCard button{ 
    color: #AB54A9;
    text-decoration: none; 
    background-color: #FEFFF1  ;
    border: none;
} 

